html 
{
height: 100%;
overflow: hidden;

background-color: #000000;
font-family: 'Lucida Console';
background-image: url("pic.gif");
}









form
{
border: 1px solid;
font-family: 'Lucida Console';
text-align: center;
background-color: rgba(0, 0, 0, 0.66);
}

input 
{
font-family: 'Lucida Console';
text-align: center;
}